Prepare hydrologic data for crop choice or irrigation optimization model.  


[Water Supply information](https://cdec.water.ca.gov/water_supply.html)  
Water Year Types come from the Department of Water Resources, California Cooperative Snow Surveys  
Chronological Reconstructed Sacramento and San Joaquin Valley  
[Water Year Hydrologic Classification Indices](https://cdec.water.ca.gov/reportapp/javareports?name=WSIHIST)

In [1]:
# standard python utilities
import os
from os.path import join, exists, dirname, basename
import glob
import sys
import time

import pandas as pd
import numpy as np

import h5py
from scipy.io import loadmat

# standard python plotting utilities
import matplotlib as mpl
import matplotlib.pyplot as plt

# standard geospatial python utilities
import shapely
import geopandas as gpd

In [2]:
doc_dir = os.getcwd()
while basename(doc_dir) != 'Documents':
    doc_dir = dirname(doc_dir)
    
proj_dir = join(dirname(doc_dir),'Box','SESYNC_paper1')
data_dir = join(proj_dir, 'model_inputs')

In [27]:
# the left side is Sacramento, the right side is San Joaquin
wyt = pd.read_csv(join(data_dir, 'historical_WY_types.txt'), delimiter=r'\s+', engine='python', comment='#')

sac_wyt = wyt.loc[:,~wyt.columns.str.contains('.1')]
sj_wyt = pd.concat((wyt[['WY']],wyt.loc[:,wyt.columns.str.contains('.1')]), axis=1)

In [30]:
sac_wyt.to_csv(join(data_dir, 'sacramento_WY_types.txt'), index=False)
sj_wyt.to_csv(join(data_dir, 'san_joaquin_WY_types.txt'),index=False)

In [29]:
sac_wyt

       WY  Oct-Mar  Apr-Jul  WYsum  Index Yr-type
0    1901     3.49     5.58   9.39   4.60       W
1    1902     1.12     3.81   5.08   3.41      AN
2    1903     1.45     4.13   5.71   3.45      AN
3    1904     1.96     5.37   7.64   4.31       W
4    1905     1.82     3.36   5.30   3.24      AN
..    ...      ...      ...    ...    ...     ...
117  2018     7.09     5.05  12.86   7.14      BN
118  2019    13.11    10.66  24.77  10.34       W
119  2020     4.91     4.13   9.71   6.12       D
120  2021     3.52     2.26   6.37   3.80       C
121  2022     6.71     3.49  10.79   4.55       C

[122 rows x 6 columns]