In [1]:
# For grid creation
import os
import sys
import numpy as np
# run installed version of flopy or add local path
try:
    import flopy
    from flopy.discretization.structuredgrid import StructuredGrid
    from flopy.utils.reference import SpatialReference
    from flopy.utils import Raster
    from flopy.utils.gridintersect import GridIntersect
except:
    import flopy
    fpth = os.path.abspath(os.path.join('..', '..'))
    sys.path.append(fpth)
    from flopy.discretization.structuredgrid import StructuredGrid
    from flopy.utils.reference import SpatialReference
    from flopy.utils import Raster
from flopy.utils.geometry import Polygon, LineString, Point
from flopy.utils.gridgen import Gridgen
from flopy.utils import OptionBlock
import flopy.utils.binaryfile as bf
import matplotlib as mpl
import matplotlib.pyplot as plt
import flopy
import pyproj # for converting proj4string
import pandas as pd
import shapely
import geopandas as gpd
import calendar
import time
import rasterio

print(sys.version)
print('numpy version: {}'.format(np.__version__))
print('matplotlib version: {}'.format(mpl.__version__))
print('flopy version: {}'.format(flopy.__version__))

flopy is installed in C:\Users\mbkni\anaconda3\envs\geosp\lib\site-packages\flopy
3.8.5 (default, Aug  5 2020, 09:44:06) [MSC v.1916 64 bit (AMD64)]
numpy version: 1.19.1
matplotlib version: 3.3.1
flopy version: 3.3.1

In [2]:
# Transient model
END_YEAR = 2020
STRT_YEAR = 2018

nper = (END_YEAR - STRT_YEAR)*365 
monlen = [] # length of stress period 
for year in range(STRT_YEAR, END_YEAR):
    for month in range(1,13):
        monlen.append(calendar.monthrange(year, month)[1])
monlen = np.array(monlen)
# nper = int(np.sum(monlen)) # Number of stress periods


perlen = np.ones(nper)
# Steady or transient periods
steady = np.zeros(nper)
steady[0] = 1 # first period is steady state, rest are transient
steady = steady.astype('bool').tolist()
nstp = np.ones(nper)*10

In [3]:
# Model parameters
nrow=80
ncol=230
delr=200
delc=200
rotation=44.7

# The number of layers should be 1 for the Mehrten formation, 1 for the laguna plus the number of TPROGS layers,
# where the Laguna formation will be clipped by the TPROGS layers
num_tprogs = 4
nlay = 2 + num_tprogs
tprog_thick = 25

# Model coordinate system

# proj4_str='EPSG:26910' # NAD83 UTM Zone 10N
proj4_str='+proj=utm +zone=10 +ellps=WGS84 +datum=WGS84 +units=m +no_defs '

In [19]:
# Import relevant files
m_domain = gpd.read_file(os.path.dirname(os.getcwd())+'\\GWModelDomain_UTM10N\\GWModelDomain_Rec_UTM10N.shp') #model domain
wells    = gpd.read_file('ProjectedWell_Elevations_m_geometry.shp') # well elevations in UTM Zone 10
wells

tsd_all = pd.read_csv('tsd_2018_2019.csv') 

xul, yul = list(m_domain.geometry.values[0].exterior.coords)[3]
list(m_domain.geometry.values[0].exterior.coords)
# m_domain.geometry.values[0].exterior

[(661606.9378817221, 4272495.737420673),
 (672690.3174606431, 4260899.797577698),
 (638997.1522573363, 4229460.230514871),
 (627913.7726784144, 4241056.170357846),
 (661606.9378817221, 4272495.737420673)]

In [20]:
m = flopy.modflow.Modflow(modelname = 'MF', exe_name = 'MODFLOW-NWT', 
                          version = 'mfnwt', model_ws='data')
# m = flopy.modflow.Modflow(modelname = 'MF', exe_name = 'mf2005', 
#                           version = 'mf2005', model_ws='data')
#lenuni = 1 is in ft, lenuni = 2 is in meters
# itmuni is time unit 5 = years, 4=days, 3 =hours, 2=minutes, 1=seconds
dis = flopy.modflow.ModflowDis(nrow=nrow, ncol=ncol, 
                               nlay=nlay, delr=delr, delc=delc,
                               model=m, lenuni = 2, itmuni = 4,
                               xul = xul, yul = yul,rotation=rotation, proj4_str=proj4_str,
                              nper = nper, perlen=perlen, nstp=nstp, steady = steady,
                              start_datetime = '1/1/2017')

In [21]:
# m.modelgrid.xyzextent
# m.modelgrid.extent
# m.modelgrid.shape
# m.modelgrid.nnodes
# m.modelgrid.grid_lines
# np.shape(m.modelgrid.xcellcenters)
# m.modelgrid.xcellcenters[0]
# m.modelgrid.get_local_coords(639168.0879233824, 4229683.378775878)
# m.modelgrid.get_local_coords(627913.7726784144, 4241056.170357846)
# m.get_nrow_ncol_nlay_nper

# mg = m.modelgrid
# ll = mg.get_coords(0, 0) #lower left
# lr = mg.get_coords(0, nrow*delr) #lower right
# ur = mg.get_coords(ncol*delc, nrow*delr) #upper right
# ul = mg.get_coords(ncol*delc, 0) #upper left
# print(ll, lr, ur, ul)

# mg.plot()
# mg.get_coords(0,0)

# os.getcwd()

# # Get vertexes of model domain
# # ll = mg.get_coords(0, 0) #lower left
# # lr = mg.get_coords(nrow*delr, 0) #lower right
# # ur = mg.get_coords(nrow*delr, ncol*delc) #upper right
# # ul = mg.get_coords(0, ncol*delc) #upper left


# # Shapefile of model bounds
# from shapely.geometry import Polygon
# vertices = np.stack(np.asarray((ll,lr, ur, ul)))
# vertices
# geoms = Polygon(vertices)

In [22]:
# create grid intersect object to apply spatial data to modflow grid
mg_intersect = GridIntersect(m.modelgrid, method = 'structured')#'WellsProjected.shp

# Find the intersect of spatial points with the grid, returns the cell IDs of the modflow cells
vertices = mg_intersect.intersect_point(wells.geometry.values)#gcoords_new.geometry.values)
vertices

rec.array([((39, 141), <shapely.geometry.point.Point object at 0x000001A7AB0A7E80>),
           ((33, 140), <shapely.geometry.point.Point object at 0x000001A7AB0A76D0>),
           ((31, 167), <shapely.geometry.point.Point object at 0x000001A7AB0A75B0>),
           ((35, 168), <shapely.geometry.point.Point object at 0x000001A7AFD9A1C0>),
           ((34, 151), <shapely.geometry.point.Point object at 0x000001A7AFD9A1F0>),
           ((36, 152), <shapely.geometry.point.Point object at 0x000001A7AFD9A040>),
           ((50, 39), <shapely.geometry.point.Point object at 0x000001A7AFD9A3D0>),
           ((48, 51), <shapely.geometry.point.Point object at 0x000001A7AFD9A340>),
           ((48, 47), <shapely.geometry.point.Point object at 0x000001A7AFD9A370>),
           ((37, 95), <shapely.geometry.point.Point object at 0x000001A7AFD9A4C0>),
           ((52, 51), <shapely.geometry.point.Point object at 0x000001A7AFD9A520>),
           ((32, 171), <shapely.geometry.point.Point object at 0x000001A7AFD9A5B0>),
           ((39, 152), <shapely.geometry.point.Point object at 0x000001A7AFD9A610>),
           ((52, 45), <shapely.geometry.point.Point object at 0x000001A7AFD9A670>),
           ((46, 51), <shapely.geometry.point.Point object at 0x000001A7AFD9A6D0>),
           ((54, 46), <shapely.geometry.point.Point object at 0x000001A7AFD9A730>),
           ((50, 47), <shapely.geometry.point.Point object at 0x000001A7AFD9A790>),
           ((53, 42), <shapely.geometry.point.Point object at 0x000001A7AFD9A7F0>),
           ((45, 44), <shapely.geometry.point.Point object at 0x000001A7AFD9A850>),
           ((45, 48), <shapely.geometry.point.Point object at 0x000001A7AFD9A8B0>),
           ((51, 44), <shapely.geometry.point.Point object at 0x000001A7AFD9A910>),
           ((49, 45), <shapely.geometry.point.Point object at 0x000001A7AFD9A970>)],
          dtype=[('cellids', 'O'), ('ixshapes', 'O')])

In [23]:
# len(vertices)
# 80 rows, 230 columns
# vertices[index-0 to 23][first tuple=0][row=0/column=1]
# a = vertices[0][0][0]#[0]#[0][0]#[0]
# a
# b = len(vertices)
# b
# c = wells.Well_name.values[1]
# c

# data = []
# data=[a,b,c]
# data.append(data)
# data
# #np.shape(data)

In [24]:
tsd_all.columns
# i=1
#tsd_all[wells.Well_name[0]]

Index(['Datetime', 'MW_5', 'UCD_26', 'MW_19', 'Rooney_1', 'MW_11', 'MW_22',
       'MW_9', 'MW_405', 'MW_218', 'MW_DR1', 'MW2', 'MW3', 'MW7', 'MW13',
       'MW14', 'MW17', 'MW20', 'MW23', 'OnetoAg', 'MWCP1', 'MWT_1', 'MWT_2',
       'MWR_1', 'MWR_2', 'T_5', 'T_6'],
      dtype='object')

In [25]:
data = []
for i in range(len(vertices)):
    data_temp=[1, vertices[i][0][0], vertices[i][0][1], tsd_all[wells.Well_name[i]], wells.Well_name[i]]
    data.append(data_temp)
data

[[1,
  39,
  141,
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7          NaN
  8          NaN
  9          NaN
  10         NaN
  11         NaN
  12         NaN
  13         NaN
  14         NaN
  15   -2.476035
  16   -2.714825
  17   -3.075355
  18   -4.225005
  19   -4.722667
  20   -4.633728
  21   -4.194095
  22   -3.843021
  23   -3.247583
  Name: MWT_1, dtype: float64,
  'MWT_1'],
 [1,
  33,
  140,
  0           NaN
  1           NaN
  2           NaN
  3           NaN
  4           NaN
  5           NaN
  6           NaN
  7           NaN
  8           NaN
  9           NaN
  10          NaN
  11          NaN
  12          NaN
  13          NaN
  14          NaN
  15    16.534706
  16    16.343622
  17    15.845969
  18    14.639412
  19    13.774289
  20    13.111947
  21    12.537265
  22    11.995586
  23    12.675420
  Name: MWT_2, dtype: float64,
  'MWT_2'],
 [1,
  31,
  167,
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7          NaN
  8          NaN
  9          NaN
  10         NaN
  11         NaN
  12         NaN
  13         NaN
  14         NaN
  15    9.345666
  16    9.593128
  17    9.778397
  18    9.423256
  19    8.792719
  20    8.215276
  21    7.700325
  22    7.261886
  23    6.921456
  Name: MWR_2, dtype: float64,
  'MWR_2'],
 [1,
  35,
  168,
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7          NaN
  8          NaN
  9          NaN
  10         NaN
  11         NaN
  12         NaN
  13         NaN
  14         NaN
  15    7.435810
  16    7.243471
  17    6.998857
  18    6.430814
  19    5.932284
  20    5.774487
  21    5.579704
  22    5.566655
  23    5.717808
  Name: MWR_1, dtype: float64,
  'MWR_1'],
 [1,
  34,
  151,
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7          NaN
  8    -5.866332
  9    -5.614107
  10   -4.971163
  11   -4.448228
  12   -4.117928
  13   -3.729376
  14   -3.238275
  15   -2.879041
  16   -3.002171
  17   -3.683918
  18   -4.605323
  19   -5.042923
  20   -4.892801
  21   -4.636871
  22   -4.362048
  23   -3.741260
  Name: T_6, dtype: float64,
  'T_6'],
 [1,
  36,
  152,
  0          NaN
  1          NaN
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7          NaN
  8    -5.282310
  9    -5.170362
  10   -4.485670
  11   -4.018679
  12   -3.706706
  13   -3.342249
  14   -2.834173
  15   -2.450362
  16   -2.594204
  17   -3.257237
  18   -4.133358
  19   -4.548254
  20   -4.382652
  21   -4.206890
  22   -3.907362
  23   -3.352069
  Name: T_5, dtype: float64,
  'T_5'],
 [1,
  50,
  39,
  0    -0.102619
  1     0.258783
  2     1.770915
  3     4.080359
  4     2.718938
  5     1.664732
  6     0.813262
  7     0.100911
  8    -0.272885
  9    -0.505628
  10   -0.748585
  11   -0.781769
  12    0.094276
  13    3.937961
  14    4.888228
  15    4.531696
  16         NaN
  17    4.085001
  18    1.826197
  19    0.934821
  20    0.568527
  21         NaN
  22         NaN
  23         NaN
  Name: MW_22, dtype: float64,
  'MW_22'],
 [1,
  48,
  51,
  0     2.234931
  1     2.343835
  2     4.366049
  3     5.304869
  4          NaN
  5          NaN
  6     2.307311
  7     0.748994
  8    -0.174564
  9    -0.584652
  10   -1.187682
  11   -0.310204
  12    0.911638
  13    3.941249
  14    5.590296
  15    5.476215
  16    4.829937
  17    4.383830
  18    3.168621
  19    2.239058
  20    1.223708
  21    1.131882
  22    1.285210
  23    1.575829
  Name: MW_5, dtype: float64,
  'MW_5'],
 [1,
  48,
  47,
  0     1.708312
  1     2.146860
  2     4.180196
  3     5.959123
  4     4.107364
  5     2.973358
  6     1.828075
  7     0.326538
  8    -0.689124
  9    -1.028631
  10   -1.090525
  11   -0.383365
  12    1.353799
  13    5.722205
  14    6.540320
  15    6.282680
  16    5.539374
  17    3.125913
  18   -6.347010
  19   -7.397596
  20    0.094485
  21    1.131129
  22    1.313932
  23    1.666044
  Name: MW_9, dtype: float64,
  'MW_9'],
 [1,
  37,
  95,
  0     10.579625
  1     10.793778
  2     12.094916
  3     13.456144
  4     11.766900
  5     10.926626
  6     10.386731
  7      8.169045
  8      6.460388
  9      5.579293
  10     4.881126
  11     7.125433
  12     9.139668
  13    12.398632
  14    14.494421
  15    13.134249
  16    12.078475
  17    11.513240
  18    10.598996
  19    10.124351
  20    10.057156
  21    10.020119
  22     9.847867
  23     9.907504
  Name: MW_DR1, dtype: float64,
  'MW_DR1'],
 [1,
  52,
  51,
  0    -0.583747
  1    -0.125131
  2     0.544156
  3     2.293697
  4     2.182438
  5     1.403737
  6     0.482554
  7    -0.429067
  8    -1.191243
  9    -1.664038
  10   -0.827714
  11   -0.474522
  12    0.121305
  13    1.810291
  14    4.062347
  15    4.158934
  16    3.708907
  17    3.529687
  18    2.597319
  19    1.519217
  20    0.898325
  21    0.391957
  22    0.234056
  23    0.363283
  Name: MW_11, dtype: float64,
  'MW_11'],
 [1,
  32,
  171,
  0          NaN
  1     6.911189
  2     7.072538
  3     7.491660
  4     6.168371
  5     4.674600
  6     5.326264
  7     5.389260
  8     5.651878
  9     6.408039
  10    5.999259
  11    7.048908
  12    7.242249
  13    7.559662
  14    8.140540
  15    8.506387
  16    8.343546
  17    7.907828
  18    6.576523
  19    6.178491
  20    7.119514
  21    7.536467
  22    7.547342
  23    7.835696
  Name: Rooney_1, dtype: float64,
  'Rooney_1'],
 [1,
  39,
  152,
  0          NaN
  1     3.717101
  2     4.031214
  3     4.314156
  4     3.944878
  5     3.483008
  6          NaN
  7    -0.303293
  8          NaN
  9          NaN
  10         NaN
  11         NaN
  12         NaN
  13         NaN
  14         NaN
  15         NaN
  16         NaN
  17   -0.449988
  18   -0.870376
  19   -1.320679
  20   -1.227499
  21   -1.119212
  22   -0.718871
  23   -0.182805
  Name: UCD_26, dtype: float64,
  'UCD_26'],
 [1,
  52,
  45,
  0     2.036053
  1     2.255773
  2          NaN
  3          NaN
  4          NaN
  5          NaN
  6          NaN
  7     0.062311
  8    -0.378073
  9    -0.698408
  10   -2.557360
  11   -1.592905
  12    0.165374
  13    3.644490
  14    4.234597
  15    3.819470
  16    3.061000
  17    2.494325
  18    1.030785
  19   -0.059168
  20   -0.790599
  21   -0.595927
  22   -0.433947
  23         NaN
  Name: MW_19, dtype: float64,
  'MW_19'],
 [1,
  46,
  51,
  0     1.586075
  1     1.942908
  2     3.595865
  3     6.624279
  4     4.863311
  5     3.639897
  6     2.655970
  7     1.680197
  8     0.806225
  9     0.124134
  10   -0.237602
  11    0.285182
  12    0.985270
  13    5.591495
  14    7.329303
  15    6.906307
  16    6.027591
  17    5.329428
  18    3.834771
  19    2.906008
  20    2.527390
  21         NaN
  22         NaN
  23         NaN
  Name: MW2, dtype: float64,
  'MW2'],
 [1,
  54,
  46,
  0     0.096193
  1     0.410001
  2     1.877405
  3     3.615739
  4     2.517697
  5     1.287229
  6     0.068648
  7    -1.177450
  8    -1.662609
  9    -1.696921
  10   -1.528952
  11   -1.094618
  12    0.199984
  13    3.276833
  14    4.464076
  15    4.024929
  16    3.295720
  17         NaN
  18         NaN
  19         NaN
  20         NaN
  21         NaN
  22         NaN
  23         NaN
  Name: MW20, dtype: float64,
  'MW20'],
 [1,
  50,
  47,
  0    -0.659663
  1    -0.349417
  2     0.988321
  3     2.626405
  4     1.148505
  5    -0.632717
  6    -2.045021
  7    -3.647913
  8    -3.644278
  9    -2.999849
  10   -2.718202
  11   -2.141526
  12   -0.700039
  13    2.329722
  14    3.529839
  15    3.283385
  16    2.604855
  17         NaN
  18         NaN
  19         NaN
  20         NaN
  21         NaN
  22         NaN
  23         NaN
  Name: OnetoAg, dtype: float64,
  'OnetoAg'],
 [1,
  53,
  42,
  0     2.128927
  1     2.013197
  2     4.260721
  3     5.199016
  4     3.687509
  5     2.289555
  6     1.138725
  7     0.269280
  8     0.078518
  9    -0.001245
  10   -0.065863
  11    0.170078
  12    2.389261
  13    5.488919
  14    5.815783
  15    5.423485
  16    4.942836
  17         NaN
  18         NaN
  19         NaN
  20         NaN
  21         NaN
  22         NaN
  23         NaN
  Name: MW23, dtype: float64,
  'MW23'],
 [1,
  45,
  44,
  0    -1.891595
  1    -1.471616
  2    -0.144243
  3     2.200109
  4     1.298648
  5     0.506572
  6    -0.399139
  7    -1.593749
  8    -2.489563
  9    -2.885164
  10   -3.048355
  11   -2.886499
  12   -2.314074
  13    1.835877
  14    4.262168
  15    2.790972
  16    2.375660
  17         NaN
  18         NaN
  19         NaN
  20         NaN
  21         NaN
  22         NaN
  23         NaN
  Name: MW7, dtype: float64,
  'MW7'],
 [1,
  45,
  48,
  0     0.829498
  1     1.270277
  2     3.845842
  3     6.304892
  4     4.531770
  5     3.417183
  6     2.521578
  7     1.695744
  8     1.052873
  9     0.524148
  10    0.082085
  11   -0.215231
  12    1.035967
  13    6.272305
  14    6.838159
  15    6.451303
  16    5.752212
  17    5.155146
  18    3.735649
  19    2.774330
  20    2.333379
  21         NaN
  22         NaN
  23         NaN
  Name: MW3, dtype: float64,
  'MW3'],
 [1,
  51,
  44,
  0     1.605574
  1     1.461629
  2     3.375985
  3     4.459069
  4     3.095873
  5     1.849331
  6     0.460488
  7    -1.422164
  8    -1.940925
  9    -2.165439
  10   -2.172476
  11   -0.954897
  12         NaN
  13         NaN
  14         NaN
  15         NaN
  16         NaN
  17         NaN
  18         NaN
  19         NaN
  20         NaN
  21         NaN
  22         NaN
  23         NaN
  Name: MW17, dtype: float64,
  'MW17'],
 [1,
  49,
  45,
  0     2.981041
  1     2.754413
  2     4.276694
  3     5.026829
  4     3.584105
  5     2.778486
  6     1.840060
  7     0.437903
  8    -0.373219
  9    -0.871523
  10   -1.096189
  11    1.400902
  12    3.136927
  13    5.291679
  14    5.549277
  15    5.315291
  16    4.824344
  17    4.165244
  18    2.937329
  19    2.372291
  20    1.715916
  21         NaN
  22         NaN
  23         NaN
  Name: MW13, dtype: float64,
  'MW13']]

In [59]:
tsd_sp = list(np.arange(1,25))
tsd_ob = list(tsd_all.MW_5.values)
tsd_sp
tsd_ob
zipped = zip(tsd_sp, tsd_ob)
tsd = list(zipped)

In [ ]:
data = []
for i in range(len(vertices)):
    data_temp=[1, vertices[i][0][0], vertices[i][0][1], tsd_all[wells.Well_name[i]], wells.Well_name[i]]
    data.append(data_temp)
data

In [105]:
wells.Well_name[i]

'MW13'

In [ ]:
vertices[i][0][0]

In [106]:
# create a new hob object
obs_data = []

for i in range(len(vertices)):
# observation location 1
    tsd_sp = list(np.arange(1,25))
    tsd_ob = list(tsd_all.UCD_26.values)
    tsd = [list(a) for a in zip(tsd_sp, tsd_ob)]
    obs_data.append(flopy.modflow.HeadObservation(m, layer=0, row=vertices[i][0][0], column=vertices[i][0][1],
                                                  time_series_data=tsd,
                                                  obsname=wells.Well_name[i]))
# # observation location 2
# tsd_sp = list(np.arange(1,25))
# tsd_ob = list(tsd_all.MWT_1.values)
# tsd = [list(a) for a in zip(tsd_sp, tsd_ob)]
# obs_data.append(flopy.modflow.HeadObservation(m, layer=0, row=3, column=3,
#                                               time_series_data=tsd,
#                                               #names=names, 
#                                               obsname='MWT_1'))
hob = flopy.modflow.ModflowHob(m, iuhobsv=51, hobdry=-9999., obs_data=obs_data)

In [109]:
obs_data

[<flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76bb0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76be0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2c5bca0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f605b0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60be0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60a00>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b28c0640>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60820>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60fd0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60760>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60610>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f60190>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76940>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76af0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76ca0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f76d00>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f68a30>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f68f70>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f68e80>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f681f0>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f68220>,
 <flopy.modflow.mfhob.HeadObservation at 0x1a7b2f68fa0>]

In [114]:
obs_data[2].time_series_data

rec.array([( 1.,  1, 1.1102230e-16,         nan, b'MWR_2.1'),
           ( 2.,  1, 1.0000000e+00,  3.7171009 , b'MWR_2.2'),
           ( 3.,  2, 1.0000000e+00,  4.0312138 , b'MWR_2.3'),
           ( 4.,  3, 1.0000000e+00,  4.314156  , b'MWR_2.4'),
           ( 5.,  5, 1.7763568e-15,  3.9448776 , b'MWR_2.5'),
           ( 6.,  6, 5.3290705e-15,  3.4830081 , b'MWR_2.6'),
           ( 7.,  7, 8.8817842e-15,         nan, b'MWR_2.7'),
           ( 8.,  8, 1.2434498e-14, -0.3032927 , b'MWR_2.8'),
           ( 9.,  9, 1.5987212e-14,         nan, b'MWR_2.9'),
           (10., 10, 1.9539925e-14,         nan, b'MWR_2.10'),
           (11., 11, 2.3092639e-14,         nan, b'MWR_2.11'),
           (12., 12, 2.6645353e-14,         nan, b'MWR_2.12'),
           (13., 13, 3.0198066e-14,         nan, b'MWR_2.13'),
           (14., 14, 3.3750780e-14,         nan, b'MWR_2.14'),
           (15., 15, 3.7303494e-14,         nan, b'MWR_2.15'),
           (16., 16, 4.0856207e-14,         nan, b'MWR_2.16'),
           (17., 17, 2.8421709e-14,         nan, b'MWR_2.17'),
           (18., 18, 1.4210855e-14, -0.44998774, b'MWR_2.18'),
           (19., 19, 0.0000000e+00, -0.8703761 , b'MWR_2.19'),
           (20., 19, 1.0000000e+00, -1.3206791 , b'MWR_2.20'),
           (21., 20, 1.0000000e+00, -1.2274985 , b'MWR_2.21'),
           (22., 21, 1.0000000e+00, -1.1192123 , b'MWR_2.22'),
           (23., 22, 1.0000000e+00, -0.71887124, b'MWR_2.23'),
           (24., 23, 1.0000000e+00, -0.1828055 , b'MWR_2.24')],
          dtype=[('totim', '<f4'), ('irefsp', '<i4'), ('toffset', '<f4'), ('hobs', '<f4'), ('obsname', 'S12')])

In [ ]:
# in the shapefile have x, y, pumping (at some point figure out a way to choose the layer based on the well depth
# ask someone to make a spreadsheet with well depth included in the document
# import shapefile
# get data in the right format for the hob file: layer, row, column, tsd (do I need to join based on well name and then drop the name?)
# figure out how to get the right stress period number - figured it out, it is whatever i define for stress periods. since this may
# change it might be useful to find a way to automate this eventually

# totim = total simulation time

# IREFSP â€” is the stress period to which the observation time is referenced. The reference point is the 
# beginning of the specified stress period. If the value of IREFSP read in item 3 is negative, there are 
# observations at |IREFSP| times -- item 5 is read and |IREFSP| repetitions of item 6 are read. Also, if 
# IREFSP is negative, values of OBSNAM, TOFFSET, HOBS, STATISTIC, STAT-FLAG and PLOT-SYMBOL read in item 3 
# are ignored and values read in item 6 are used.